/***************/
/*CSS VARIABLES*/
/***************/
:root {
  --card-border: rgb(30, 36, 112);
  --dark-color: #1e2225;
  --light-color: rgb(245, 245, 245);
}

/***************/
/*GLOBAL STYLES*/
/***************/
body  {
  font-family: Montserrat, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  background-color: var(--dark-color);
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

p {
  color: var(--light-color);
  font-size: 1.2em;
  line-height: 1.8;
}

/***************/
/*HEADER*/
/***************/
.container-bkgd {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: 100%:
}

.title {
  padding-right: 30px;
  padding-bottom: 15px;
}

header li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}

header a {
  border: 2px dotted #fea51e;
  border-radius: 15px;
  padding: 10px;
  background-color: RGBA(254,165,30,0.65);
}

header a:hover {
  border: 2px solid #d98000;
  background-color: #db8205;
  color: var(--light-color);
}

/***************/
/*ABOUT ME*/
/***************/
main,
header,
.footer-text {
  margin: auto 100px;
  max-width: 1200px;
}

.about-me {
  margin: 50px 0 80px;
  padding: 10px 30px 30px;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  background-blend-mode: normal, multiply;
  box-shadow: 12px 12px #777, 24px 24px #555;
}

h3 {
  color: var(--light-color);
  margin: 25px 0 5px;
}

.about-me h3 {
  color: #333;
  font-size: 1.6em;
  font-weight: bold;
}

.about-me p {
  color: black;
}

.about-me-photo img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 7px solid #8b7d5d;
  margin-left: 30px;
}

/***************/
/*CONTACT ME*/
/***************/
.contact-me {
  max-width: 500px;
  margin: 0 auto 70px;
  padding: 10px 10px 20px;
  line-height: 2.5;
  text-align: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1   100%);
  box-shadow: 12px 12px rgb(42, 224, 154), 24px 24px rgb(97, 117, 231), -12px -12px rgb(42, 224, 154), -24px -24px rgb(97, 117, 231);
}

.contact-me h3 {
  color: var(--dark-color);
  font-size: 1.5em;
}

.contact-me p {
  color: var(--dark-color);
}

i {
  font-size: 2em;
  padding-right: 20px;
}

.contact-me a:hover {
  text-decoration: underline;
}

.fa-github {
  color: #6e5494;
}

.fa-linkedin {
  color: #0a66c2;
}

/***************/
/*FOOTER*/
/***************/
footer {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}

.footer-text {
  color: #777;
  text-align: center;
} 