/***************/
/*MY WORK*/
/***************/
/*TODO: Need main feature image to be responsive.*/ 
/*TODO: Need to increase .small-project-card img 's opacity when hovering on sibling .project-label*/
/*TODO: main feature card div needs to be center-aligned*/

.my-work h3 {
  font-size: 1.6em;
  padding-left: 30px;
  margin-top: 0px;
}

/*====CONTAINERS====*/
/*==================*/
.container-main-feature {
  width: 100%;
}

.container-main-feature img {
  max-height: 400px;
  width: 100%;
} 

.container-small-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 5px;
}

/*====CARDS====*/
/*=============*/
.main-feature-card {
  max-width: calc(100% - 10px);
  margin: 0 auto;
}

.main-feature-card img {
  border: 4px solid transparent;
}

.small-project-card {
  min-width: 300px;
  max-width: 650px;
  flex: 1 0 0;
  padding: 10px;
}

.small-project-card img {
  width: 100%;
  height: auto;
  min-width: 300px;
  border: 4px solid transparent; 
  opacity: 0.6;
  transition: opacity 0.3s;
}

.small-project-card img:hover {
  opacity: 1.0;
}

/* .small-project-card:hover ~? >? .project-label:hover img {
  opacity: 1.0;
} */


/*===BORDER GRADIENT===*/
/*=====================*/
.border-gradient{
  border: 4px solid transparent;
}

.border-gradient img:hover {
  border: 4px solid;
  border-image-slice: 1;
  /* border-image-source: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */

  border-image-source: linear-gradient(120deg, #46f887 0%, #1cadf5 100%);
}

/*====LABEL====*/
/*=============*/
.project-label {
  background-image: linear-gradient(120deg, #f6d365 0%, #f89479 100%);
  max-width: 210px;
  position: relative;
  bottom: 40px;
  left: -10px;
}

h4, h5 {
  color: var(--dark-color);
  font-weight: normal;
  margin: 2px;
  padding: 2px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-family: 'Source Sans Pro', Courier, monospace;
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: bold; */
}

