/*================*/
/*GLOBAL STYLES*/
/*================*/
:root {
  /*css variables go here*/
}

body  {
  font-family: Arial, Helvetica, sans-serif;
}

/*================*/
/*HEADER*/
/*================*/

header {
  background-color: #777;
}



/*================*/
/*ABOUT ME*/
/*================*/




/*================*/
/*MY WORK*/
/*================*/

.my-work {}

.container {
  display: flex;
  flex-wrap: wrap;
  /*TODO: add a max-width for super wide screens*/
  background-color: #888;
  margin-left: 100px;
}

/*first project example*/
.project-feature {
  max-width: 600px;
  display: block;
}

.project-feature img {
  width: 100%;
}

/*subsequent project examples*/
.project-tile {
  display: inline-block;
    max-width: 400px;
}

.project-tile img {
  width: 100%;
}

h4 {}

h5 {}

/*================*/
/*CONTACT ME*/
/*================*/




/*================*/
/*FOOTER*/
/*================*/