/***************/
/*CSS VARIABLES*/
:root {
  --card-border: rgb(30, 36, 112);
}

/***************/
/*GLOBAL STYLES*/
/***************/
body  {
  font-family: Montserrat, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

/***************/
/*HEADER*/
/***************/
header {
  background-color: #777;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  max-width: 1200px;
}

ul {
  list-style: none;
  margin-right: 100px;
}

li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

/***************/
/*ABOUT ME*/
/***************/
main {
  margin-left: 100px;
  max-width: 1200px;
}

.container-about-me {
  display: flex;
  justify-content: space-between;
}

.about-me-text {
  padding-right: 30px;
}

.about-me-photo img {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

/***************/
/*MY WORK*/
/***************/

/***************/
/*CONTACT ME*/
/***************/

/***************/
/*FOOTER*/
/***************/